@media (min-width: 768px) {
  .modal{
    :global(.ant-modal-close){
      display: none;
    }
  }
}

@headerHeight: 40px;
.header{
  height: @headerHeight;

  .search, .jions{
    display: inline-block;
    height: 100%;
  }
  @searchMinWidth: 100px;
  .search{
    min-width: @searchMinWidth;
    overflow: hidden;
    :global(.ant-input-affix-wrapper) {
      height: 100%;
      span{
        order: 1;
      }
      input{
        order: 2;
      }
    }
  }
  .jions{
    max-width: calc(100% - @searchMinWidth);
    overflow-x: auto;
    li{
      float: left;
      width: 30px;
      height: 30px; 
    }
  }

}

.user-list{
  max-height: 500px;
  overflow-y: auto;
  .portrait, .name{
    display: inline-block;
    vertical-align: bottom;
  }
  @portraitSize: 30px;
  .portrait{
    width: @portraitSize;
    height: @portraitSize;
    border-radius: 2px;
    overflow: hidden;
    >img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name{
    width: calc(100% - @portraitSize);
    padding-left: 14px;
  }
  li{
    margin-top: 4px;
    &:not(:last-child) .name{
      border-bottom: 1px solid #ccc;
    }
  }
}

.btn{
  text-align: center;
}
