@roomListWidth: 260px;
@lintColor: #ccc;

.chat-wrap{
  max-width: 1000px;
  height: 72vh;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 10px 20px 4px rgba(0,0,0,.2);
  overflow: hidden;
  position: relative;
  // background: white;
}
.room-list{
  width: @roomListWidth;
  height: 100%;
  overflow-y: auto;
  li{
    padding: 6px 20px;
    &:not(:last-of-type){
      border-bottom: 1px solid #eee;
    }
  }
}
.content{
  width: calc(100% - @roomListWidth);
  height: 100%;
  border-left: 1px solid @lintColor;
  box-sizing: border-box;
  @headerHeight: 50px;
  .header{
    height: @headerHeight;
    border-bottom: 1px solid @lintColor;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: @headerHeight;
    .room-name{
      font-size: 16px;
    }
    .icon{
      cursor: pointer;
    }
  }
  .send-wrap{
    height: calc(36% - @headerHeight);
    border-top: 1px solid @lintColor;
  }
  .go-back{
    margin-right: 10px;
    display: none;
  }
}
.search{
  padding: 10px;
  background-color: #eee;
  :global(.ant-input-affix-wrapper), > :global(.iconfont){
    border-radius: 4px;
    vertical-align: middle;
  }
  :global(.ant-input-affix-wrapper){
    width: 80%;
    height: 28px;
    box-sizing: border-box;
  }
  > :global(.iconfont){
    margin-left: 6px;
    padding: 2px 10px;
    background-color: white;
    cursor: pointer;
  }
}

.room-operation{
  width: 120px;
  height: 100px;
  border-radius: 4px;
}
.chat-wrap{
  :global(.yu-protective-wrap).room-operation{
    position: fixed;
  }
}

.room-detail-wrap{
  width: 300px;
  height: calc(100% - 50px);
  right: 0;
  bottom: 0;
  background-color: white;
}

@media (max-width: 768px) {
  .container{
    width: 100vw;
    overflow-x: hidden;
  }
  .chat-wrap{
    margin: 0;
    width: 200%;
    height: calc(100vh - 42px);
    border-radius: 0;
    transition: transform .4s;
    &.move{
      transform: translateX(-50%);
    }
  }
  .room-list{
    width: 50%;
  }
  .content{
    width: 50%;
    border: none;
    .go-back{
      display: inline-block;
    }
  }
}