@sideWidth: 60px;
@roomListWidth: 240px;
@lintColor: #ccc;

.chat-wrap{
  max-width: 1000px;
  height: 70vh;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 10px 20px 4px rgba(0,0,0,.2);
  overflow: hidden;
  position: relative;
}
.side{
  width: @sideWidth;
  height: 100%;
  text-align: center;
  background-color: #404040;
}
.room-list{
  width: @roomListWidth;
  height: 100%;
  overflow-y: auto;
  li{
    padding: 6px 20px;
    &:not(:last-of-type){
      border-bottom: 1px solid #eee;
    }
  }
}
.content{
  width: calc(100% - @roomListWidth - @sideWidth);
  height: 100%;
  border-left: 1px solid @lintColor;
  box-sizing: border-box;
  @headerHeight: 40px;
  .header{
    height: @headerHeight;
    border-bottom: 1px solid @lintColor;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: @headerHeight;
    .room-name{
      font-size: 16px;
    }
    .icon{
      cursor: pointer;
    }
  }
  .send-wrap{
    height: calc(36% - @headerHeight);
    border-top: 1px solid @lintColor;
  }
}
.search{
  padding: 6px 10px;
  background-color: #eee;
  :global(.ant-input-affix-wrapper), > :global(.iconfont){
    border-radius: 4px;
    vertical-align: middle;
  }
  :global(.ant-input-affix-wrapper){
    width: 80%;
    height: 28px;
    box-sizing: border-box;
  }
  > :global(.iconfont){
    margin-left: 6px;
    padding: 6px 10px;
    background-color: white;
    cursor: pointer;
  }
}

.room-menu-bg{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: none;
  &.active{
    display: block;
  }
}
.room-operation{
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 10px 20px 4px rgba(0,0,0,.2);
  z-index: 9;
}