.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.leayer{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .leayer{
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  .leayer{
    padding: 0 10px;
  }
}

@font-face {
  font-family: 'iconfont';  /* Project id 2770358 */
  src: url('//at.alicdn.com/t/font_2770358_29d8mt51ozx.woff2?t=1650289796427') format('woff2'),
       url('//at.alicdn.com/t/font_2770358_29d8mt51ozx.woff?t=1650289796427') format('woff'),
       url('//at.alicdn.com/t/font_2770358_29d8mt51ozx.ttf?t=1650289796427') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: wrap;
}