
.side, .content{
  float: left;
}

.side{
  width: 200px;
  &.box{
    width: 100%;
    > ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      > li{
        width: 160px;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
          box-shadow: 0 2px 4px 4px rgba(0,0,0,.1);
        }
      }
      :global(.iconfont) {
        font-size: 50px;
        display: block;
        margin: 0;
      }
    }
  }
}

.content{
  width: calc(100% - 200px);
}