
.side, .content{
  float: left;
}

@sideWidth: 200px;
.side{
  width: @sideWidth;
}

@breadCrumbHeight: 42px;
.bread-crumb{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  padding-right: 20px;
  border-bottom-right-radius: 100px;
  border-right: 1px solid white;
  box-shadow: 1px 1px 2px rgba(0,0,0,.1);
  z-index: 9;
  max-width: 100%;
  overflow-x: auto;
}

.side{
  position: fixed;
  top: calc(var(--main-header-height) + @breadCrumbHeight);
  overflow-y: auto;
}

// 网格布局
.side.grid{
  position: static;
  width: 100%;
  overflow: visible;
  margin-top: @breadCrumbHeight;
  > ul{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 10px;
    > li{
      width: 160px;
      padding: 10px;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
      &:hover{
        box-shadow: 0 2px 4px 4px rgba(0,0,0,.1);
      }
    }
    :global(.iconfont) {
      font-size: 40px;
      display: block;
      margin: 0;
    }
  }
}

.content{
  width: calc(100% - @sideWidth);
  margin-left: @sideWidth;
  margin-top: @breadCrumbHeight;
  .file-info{
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    span{
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px) {
  .content, .side{
    width: 100%;
  }
  .content{
    margin-left: 0;
    .file-info{
      margin: 0;
    }
  }
  .bread-crumb{
    border-bottom: 1px solid white;
  }
  .side{
    top: auto;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-top: 1px solid white;
    transform: translateY(100%);
  }
  .side.grid{
    transform: translateY(0);
  }
}
